In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [29]:
# Abrindo dataset
dataset = pd.read_csv('/workspaces/thyroid_disease_AI/thyroid_disease_AI/datasets/hypothyroid/hypothyroid.csv')

# Selecionando features escolhidas
select_features = ['TT4', 'FTI', 'T3', 'TSH', 'T4U', 'pregnant', 'I131 treatment', 'binaryClass']
dataset = dataset[select_features]
dataset.head()

   TT4  FTI   T3   TSH   T4U pregnant I131 treatment binaryClass
0  125  109  2.5   1.3  1.14        f              f           P
1  102    ?    2   4.1     ?        f              f           P
2  109  120    ?  0.98  0.91        f              f           P
3  175    ?  1.9  0.16     ?        f              f           P
4   61   70  1.2  0.72  0.87        f              f           P

In [30]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3772 entries, 0 to 3771
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TT4             3772 non-null   object
 1   FTI             3772 non-null   object
 2   T3              3772 non-null   object
 3   TSH             3772 non-null   object
 4   T4U             3772 non-null   object
 5   pregnant        3772 non-null   object
 6   I131 treatment  3772 non-null   object
 7   binaryClass     3772 non-null   object
dtypes: object(8)
memory usage: 235.9+ KB

In [31]:
# Verificando quando a dados faltantes '?'
dataset[dataset == '?'].count()

TT4               231
FTI               385
T3                769
TSH               369
T4U               387
pregnant            0
I131 treatment      0
binaryClass         0
dtype: int64

In [34]:
dataset['binaryClass'].value_counts()

binaryClass
P    3481
N     291
Name: count, dtype: int64

In [ ]:
output_label = dataset['binaryClass']
dataset.drop('binaryClass', axis=1, inplace=True)

In [ ]:
# dividir os dados em 80% treino e 20% teste
input_train, input_test, output_train, output_test = train_test_split(dataset, output_label, test_size=0.2, random_state=24, stratify=output_label)

output_train_counts = output_train.value_counts()
output_test_counts = output_test.value_counts()

print("Output Train Class Counts:")
print(output_train_counts)

print("\nOutput Test Class Counts:")
print(output_test_counts)

Output Train Class Counts:
binaryClass
P    2784
N     233
Name: count, dtype: int64

Output Test Class Counts:
binaryClass
P    697
N     58
Name: count, dtype: int64

In [37]:
input_test= pd.DataFrame(input_test)
input_test['binaryClass'] = output_test
input_test[input_test=='?'].count()

TT4                47
FTI                77
T3                150
TSH                76
T4U                77
pregnant            0
I131 treatment      0
binaryClass         0
dtype: int64

In [39]:
input_test = input_test.replace('?', pd.NA).dropna()

In [40]:
input_test[input_test=='?'].count()

TT4               0
FTI               0
T3                0
TSH               0
T4U               0
pregnant          0
I131 treatment    0
binaryClass       0
dtype: int64

In [41]:
input_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 552 entries, 3173 to 3372
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   TT4             552 non-null    object
 1   FTI             552 non-null    object
 2   T3              552 non-null    object
 3   TSH             552 non-null    object
 4   T4U             552 non-null    object
 5   pregnant        552 non-null    object
 6   I131 treatment  552 non-null    object
 7   binaryClass     552 non-null    object
dtypes: object(8)
memory usage: 38.8+ KB

In [42]:
input_test['binaryClass'].value_counts()

binaryClass
P    512
N     40
Name: count, dtype: int64

In [43]:
input_test.to_csv('data/input_test.csv', index=False)

In [44]:
input_train['binaryClass'] = output_train
input_train.to_csv('data/input_train.csv', index=False)